/* src/components/Login.css */

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.login-form {
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.login-button {
  margin-top: 16px;
}
